$active-color: #077;
$body-text-color: #0a0a0a;
$link-color: $active-color;
$nav-child-link-color: $active-color;
$sidebar-color: $white;
$code-background-color: #f9f9f9;

$font-size-7: 22px;
$font-size-8: 26px; //h1
$font-size-9: 28px;

$header-height: 54px;
