---
---
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

@font-face { font-family: Source Sans Pro; src: url('/assets/fonts/SourceSansPro-Light.otf') }
@font-face { font-family: Source Sans Pro; src: url('/assets/fonts/SourceSansPro-Regular.otf'); font-weight: bold }

blockquote {
  margin: 0 !important;
  padding: 0.001em 2.5em !important;
  border-left: 0.35em solid #eee !important;
}

// Used to decorate SFOS Architecture blocks
.btn-sec {
  display: block;
  padding: 0.35em 0;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

a:not([class]) {
  background-image: unset;
  background-repeat: unset;
  background-position: unset;
  background-size: unset;

  &:hover {
    background-image: unset;
    background-size: unset;
  }
}

.main-content {
  a {
    // Wrap URLs normally like text, otherwise end up with too wide tables 
    white-space: normal;
  }

  .toc {
    line-height: 1.3;
  }
}

.side-bar {
  border-right: unset;
}

// For the hamburger menu to be right-aligned in narrow (mobile) viewports
.site-header {
  justify-content: space-between;
}
@media (min-width: 50rem) {
  .site-header {
    justify-content: unset;
  }
  .aux-nav {
    float:left;
    width:60%;
  }
  .search-and-logo {
    float:right;
    width:40%;
  }
  .search {
    float:left;
  }
  .img-logo {
    float:right;
  }
  .search {
    width: 68% !important;
  }
}

@media (max-width: 55rem) {
    .site-button {
        padding: 10px !important;
    }
}

.site-button {
  padding: 15px;
}

.site-button:hover {
  color: #6c6c6c;
  background-image: unset;
}

.aux-nav {
  .aux-nav-list-item {
    font-weight: bold;
  }
}

.landing {
  max-width:1010px;
  width:100% !important;
}
.clearfix  {
  clear: both;
}

.landing-container {
  text-align:center;
  display:inline-block;
}

.landing-text {
  font-size:small;
  padding-top:13px;
  font-weight:bold;
}

.main-content > .landing-text {
  padding:0 10%;
}

.landing-head {
  font-size:x-large;
  font-weight: bold;
  line-height: 1.1;
}

.landing-blank > .landing-box-text,
.landing-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom:12px;
}

.landing-foot,
.landing-link {
  font-weight: bold;
}

.landing-img > .landing-box-text {
  width:60%;
}

.landing-blank > .landing-box-text {
  width:90%;
}

.landing-img,
.landing-blank {
  position: relative;
  margin: 10px;
  padding-top: 15px;
  text-align: left;
  border-radius: 2px;
  -moz-border-radius: 2px;
}

.landing-blank > .landing-head,
.landing-blank > .landing-foot,
.landing-link {
  color: #053766;
}

// FIXME: rewrite hardcoded 1024px cases using "@media (min-width: 50rem)" example below
@media only screen and (min-device-width: 1024px) {
  .landing-img {
    width: 451px;
    height: 181px;
  }
  .landing-img,
  .landing-blank,
  .landing-blank > .landing-box-text,
  .landing-foot {
    padding-left:17px;
  }
  .landing-blank {
    height: 190px;
  }
  .landing-blank-container {
    display: inline-flex;
  }
}

// FIXME: rewrite hardcoded 1024px cases using "@media (min-width: 50rem)" example below
@media only screen and (max-device-width: 1024px) {
  .landing-img {
    width: 235pt;
    height: 94pt;
  }
  .landing-img > .landing-box-text {
    font-size:x-small;
  }
  .landing-head {
    font-size:medium;
  }
  .landing-blank-container {
    display: inline-grid;
  }
  .landing-img,
  .landing-blank,
  .landing-blank > .landing-box-text,
  .landing-foot {
    padding-left:10px;
  }
  .landing-box-text {
    line-height: 1.25
  }
  .landing-blank {
    height: 150px;
  }
}

.landing-img {
  color: white;
  background-size: contain;
  display: inline-table;
}

.landing-blank {
  color: #222;
  background-color: #e1e1e1;
  width: 215.5px;
}

.landing-container > a:hover .landing-foot  {
  color: #ccc;
}

.landing-blank-container > a:hover .landing-link {
  color: #3D6F9E;
}

.landing-highlight {
  color: #053766;
}
